name: Deploy Package
permissions:
  id-token: write # Required for OIDC
  contents: read
on:
  push:
    branches: [release]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Select Node Version
        uses: actions/setup-node@v1
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install Deps
        run: yarn install

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test

      - name: Generate Coverage
        run: yarn cc

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Release Package
        run: yarn build-package

      - run: "npm install -g npm@^11.0.0"

      - run: "npm --version"

      - name: Publish To NPM
        run: npm publish ./package

      - name: Install Doc Dependencies
        run: cd docs-site && yarn install

      - name: Generate Documentation
        run: rm -rf ./docs && yarn docs

      - name: Deploy Documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./docs
          cname: iso-fns.org
